
@import url(../fonts/raleway/raleway.css);
body
{
  font-size   : 12px;
  font-family : "Raleway", sans-serif;
}

#p2
{
  border           : inherit inherit inherit;
  background-color : inherit;
}

#p3
{
  border           : inherit inherit inherit;
  background-color : inherit;
}

#p4
{
  border           : inherit inherit inherit;
  background-color : inherit;
}

#start-page
{
  height                : 100vh;
  background-size       : cover;
  background-image      : url("../img/start_page_cover.jpg");
  background-attachment : fixed;
  display               : flex;
  justify-content       : center;
  align-items           : center;
  padding-top           : 0;
}

#start-page header
{
  margin-top : -20%;
}

#start-page header h1
{
  text-align     : center;
  font-size      : 3.1em;
  padding-bottom : 10px;
  color          : #fafad2;
  color          : #d3d3d3;
}

#start-page header h2
{
  display        : flex;
  padding-bottom : 10px;
  color          : rgba(251,166,40,0.7);
}

#start-page header h2 ul
{
  margin-left     : auto;
  margin-right    : auto;
  display         : flex;
  width           : 100%;
  justify-content : center;
  font-size       : 1.8em;
}

#start-page header h2 ul li
{
  padding-left  : 15px;
  padding-right : 15px;
  display       : inline-block;
}

#navbar
{
  display          : flex;
  align-items      : center;
  justify-content  : space-between;
  position         : fixed;
  top              : 0;
  right            : 0;
  left             : 0;
  padding-left     : 10%;
  padding-right    : 10%;
  color            : #fba628;
  font-weight      : 600;
  background-color : rgba(0,0,0,0.8);
  font-size        : 1.1em;
  text-transform   : uppercase;
}

.navbar-nav
{
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  width           : 40%;
}

.navbar-nav li
{
  border-color        : #fba628;
  border-bottom-width : 1px;
  padding-bottom      : 8px;
  padding-top         : 8px;
}

.navbar-nav li.active
{
  border-color        : #fba628;
  border-bottom-width : 1px;
  border-style        : solid;
  color               : #ff0000;
}

.navbar-nav a
{
  text-decoration : none;
  color           : #fba628;
}

.navbar-phone
{
  font-size : 1.19999rem;
}

.navbar-toggle
{
  display          : none;
  border-style     : none;
  color            : #fba628;
  background-color : rgba(0,0,0,0.0);
  font-size        : 1.8rem;
  cursor           : pointer;
}

.page
{
  padding-top    : -webkit-calc(95px + 5px);
  padding-top    : -moz-calc(95px + 5px);
  padding-top    : -ms-calc(95px + 5px);
  padding-top    : -o-calc(95px + 5px);
  padding-top    : calc(95px + 5px);
  width          : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
}

.page h1
{
  padding        : inherit 15px inherit 15px;
  padding-top    : 15px;
  font-size      : 2rem;
  text-transform : uppercase;
  text-align     : center;
}

.page h2
{
  padding        : 15px 15px 15px 15px;
  font-size      : 1.6rem;
  text-transform : uppercase;
  color          : rgba(0,0,0,0.5);
  text-align     : center;
}

.cards
{
  display               : grid;
  justify-content       : center;
  grid-template-columns : auto auto;
  grid-column-gap       : 20px;
  grid-row-gap          : 20px;
  width                 : 100%;
  padding-top           : 5px;
  padding-bottom        : 15px;
}


#p1 .cards
{
  grid-template-columns : auto auto auto auto;
}


#p2 .cards
{
  grid-template-columns : auto auto auto;
}

.card
{
  width          : 280px;
  height         : 400px;
  border-color   : #fba628;
  border-width   : 4px;
  border-style   : solid;
  margin         : 5px 0 5px 0;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  padding        : 10px 10px 10px 10px;
}

.card hgroup
{
  padding-top    : 0px;
  padding-bottom : 0px;
}

.card hgroup figure
{
  text-align : center;
}

.card hgroup figure img
{
  width : 70%;
}

.card hgroup h1
{
  font-size   : 1.6em;
  font-weight : bold;
  padding-top : 15px;
  text-align  : center;
}

.card p:first-of-type
{
  border           : inherit inherit inherit;
  background-color : inherit;
  padding-top      : 15px;
}

.card p
{
  font-size   : 1.6em;
  padding-top : 10px;
  text-align  : justify;
  text-indent : 20px;
  line-height : 1.19999em;
}

@media screen and (max-width: 1280px)
{

#navbar
{
  padding-left  : 20px;
  padding-right : 20px;
}

.brand
{
  -webkit-transform : scale(0.69999,0.69999);
  -moz-transform    : scale(0.69999,0.69999);
  -ms-transform     : scale(0.69999,0.69999);
  -o-transform      : scale(0.69999,0.69999);
  transform         : scale(0.69999,0.69999);
}

}
@media screen and (max-width: 900px)
{

.navbar-nav
{
  width : 80%;
}

.navbar-phone
{
  display : none;
}

#start-page
{
  display : block;
}

#start-page header
{
  display          : flex;
  flex-direction   : column;
  height           : 100%;
  background-color : rgba(0,0,0,0.4);
  margin-top       : 0;
  padding-top      : -webkit-calc(95px + 60px);
  padding-top      : -moz-calc(95px + 60px);
  padding-top      : -ms-calc(95px + 60px);
  padding-top      : -o-calc(95px + 60px);
  padding-top      : calc(95px + 60px);
}

#start-page header h1
{
  font-size : 2.39999em;
  color     : #fafad2;
  color     : #d3d3d3;
}

#start-page header h2 ul
{
  margin-left    : auto;
  margin-right   : auto;
  display        : flex;
  flex-direction : column;
  width          : 100%;
}

#start-page header h2 ul li
{
  display    : inline-block;
  text-align : center;
  padding    : 20px 0 20px 0;
}


.page h1
{
  font-size      : 1.19999rem;
  text-transform : uppercase;
}

.page h2
{
  font-size : 1rem;
}

.cards
{
  display               : grid;
  grid-template-columns : auto auto;
  grid-template-rows    : auto auto;
}


#p1 .cards
{
  grid-template-columns : auto auto auto auto;
}


#p2 .cards
{
  grid-template-columns : auto auto auto;
}

}
@media screen and (max-width: 480px)
{


#navbar .navbar-nav
{
  display : none;
}

#navbar .active.navbar-nav
{
  display          : block;
  position         : absolute;
  left             : 0px;
  top              : -webkit-calc(95px - 1px);
  top              : -moz-calc(95px - 1px);
  top              : -ms-calc(95px - 1px);
  top              : -o-calc(95px - 1px);
  top              : calc(95px - 1px);
  width            : 80%;
  padding-top      : 10px;
  padding-bottom   : 10px;
  background-color : rgba(0,0,0,0.8);
}

#navbar .active.navbar-nav li
{
  width        : 100%;
  padding      : 20px 20px 20px 20px;
  border-style : none;
  font-size    : 1.19999rem;
}

#navbar .navbar-toggle
{
  display : inline-block;
}


.page h1
{
  padding-left   : 60px;
  padding-right  : 60px;
  padding-bottom : 0;
  font-size      : 1rem;
  line-height    : 1.5;
}

.page h2
{
  font-size : 1rem;
}

.cards
{
  display         : flex;
  flex-direction  : column;
  justify-content : space-around;
  align-items     : center;
  width           : 100%;
  padding-top     : 5px;
  padding-bottom  : 15px;
}

.card
{
  width        : 90%;
  max-width    : 360px;
  height       : auto;
  border-color : #fba628;
  border-width : 4px;
  border-style : solid;
  margin       : 10px 5px 10px 5px;
}

.card p
{
  padding-left  : 10px;
  padding-right : 10px;
}

}

/* Generated with Clay, http://fvisser.nl/clay */