
@import url(../fonts/raleway/raleway.css);
html
{
  font-size   : 12px;
  font-family : "Raleway", sans-serif;
}

#navbar
{
  display            : flex;
  align-items        : center;
  justify-content    : space-around;
  position           : fixed;
  top                : 0;
  right              : 0;
  left               : 0;
  color              : #ff6600;
  font-weight        : 600;
  font-size          : 1.19999em;
  text-transform     : uppercase;
  background-color   : rgba(255,255,255,0.8);
  -webkit-transition : background-color 1.5s linear 0.0s;
  -moz-transition    : background-color 1.5s linear 0.0s;
  -ms-transition     : background-color 1.5s linear 0.0s;
  -o-transition      : background-color 1.5s linear 0.0s;
  transition         : background-color 1.5s linear 0.0s;
}

#navbar.no-background
{
  background-color : rgba(0,0,0,0.0);
}

#navbar .navbar-nav
{
  width           : 40%;
  display         : flex;
  align-items     : center;
  justify-content : space-around;
}

#navbar .navbar-nav li
{
  border-color        : #ff6600;
  border-bottom-width : 1px;
  padding-bottom      : 8px;
  padding-top         : 8px;
}

#navbar .navbar-nav li.active
{
  border-color        : #ff6600;
  border-bottom-width : 1px;
  border-style        : solid;
  color               : #ff0000;
}

#navbar .navbar-nav a
{
  text-decoration : none;
  color           : #ff6600;
}

#navbar .navbar-phone
{
  font-size : 1.8rem;
}

#navbar .navbar-toggle
{
  display          : none;
  border-style     : none;
  color            : #ff6600;
  background-color : rgba(0,0,0,0.0);
  font-size        : 1.8rem;
  cursor           : pointer;
}

@media screen and (max-width: 1280px)
{

#navbar .brand
{
  width : 200px;
}

#navbar .brand img
{
  width : 100%;
}

#navbar #navbar-phone
{
  font-size : 1.39999rem;
}

}
@media screen and (max-width: 900px)
{

#navbar .navbar-toggle
{
  display : inline-block;
}

#navbar .navbar-nav
{
  display : none;
}

#navbar .active.navbar-nav
{
  position         : absolute;
  left             : 0px;
  top              : -webkit-calc(100% + 5px);
  top              : -moz-calc(100% + 5px);
  top              : -ms-calc(100% + 5px);
  top              : -o-calc(100% + 5px);
  top              : calc(100% + 5px);
  display          : flex;
  flex-direction   : column;
  align-items      : flex-start;
  justify-content  : space-around;
  width            : auto;
  height           : 250px;
  max-height       : -webkit-calc((100vh - 95px) - 4px);
  max-height       : -moz-calc((100vh - 95px) - 4px);
  max-height       : -ms-calc((100vh - 95px) - 4px);
  max-height       : -o-calc((100vh - 95px) - 4px);
  max-height       : calc((100vh - 95px) - 4px);
  min-height       : 400px;
  padding-left     : 10px;
  padding-right    : 10px;
  background-color : rgba(0,0,0,0.8);
}

#navbar .active.navbar-nav li
{
  border-style : none;
  font-size    : 1rem;
}

}
@media screen and (max-width: 600px)
{
#navbar
{
  padding-left    : 5px;
  padding-right   : 5px;
  justify-content : space-between;
}

#navbar .brand
{
  width : 150px;
}

#navbar .brand img
{
  width : 100%;
}

#navbar .navbar-phone
{
  font-size : 1rem;
}

#navbar.no-background
{
  background-color : rgba(255,255,255,0.6);
}

}
#start-page
{
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  background      : rgba(0,0,0,0.2);
}

#start-page header
{
  padding : 0 40px 0 40px;
}

#start-page header h1
{
  text-align     : center;
  font-size      : 4em;
  font-weight    : 600;
  padding-bottom : 25px;
  color          : #d3d3d3;
}

#start-page header h2
{
  text-align     : center;
  font-size      : 2.5em;
  font-weight    : 600;
  padding-bottom : -webkit-calc(25px + 5px);
  padding-bottom : -moz-calc(25px + 5px);
  padding-bottom : -ms-calc(25px + 5px);
  padding-bottom : -o-calc(25px + 5px);
  padding-bottom : calc(25px + 5px);
  color          : #ff6600;
}

@media screen and (max-width: 640px)
{
#start-page header
{
  padding : 0 10px 0 10px;
}

}
#start-page video
{
  position   : absolute;
  left       : 0;
  top        : 0;
  width      : 100%;
  min-height : 100%;
  z-index    : -1;
  object-fit : cover;
}

#start-page .callback-button
{
  width            : 90vw;
  max-width        : 540px;
  padding          : 15px 15px 15px 15px;
  background-color : #ff6600;
  border-radius    : 20px 20px 20px 20px;
  text-align       : center;
  font-size        : 1.5em;
}

#start-page .callback-button:hover
{
  background-color : #1097500;
}

#start-page .callback-button a
{
  color           : #ffffff;
  text-transform  : uppercase;
  text-decoration : none;
}

@media screen and (max-width: 900px)
{
#start-page .callback-button
{
  max-width : 400px;
  font-size : 1.8em;
}

}
@media screen and (max-width: 1280px)
{
#start-page
{
  font-size : 0.8rem;
}

}
@media screen and (max-width: 900px)
{
#start-page
{
  font-size : 0.69999rem;
}

}
@media screen and (max-width: 780px)
{
#start-page
{
  font-size : 0.59999rem;
}

}
.page
{
  display        : flex;
  flex-direction : column;
  align-items    : center;
  padding-top    : -webkit-calc(95px + 5px);
  padding-top    : -moz-calc(95px + 5px);
  padding-top    : -ms-calc(95px + 5px);
  padding-top    : -o-calc(95px + 5px);
  padding-top    : calc(95px + 5px);
  padding-bottom : -webkit-calc(95px + 5px);
  padding-bottom : -moz-calc(95px + 5px);
  padding-bottom : -ms-calc(95px + 5px);
  padding-bottom : -o-calc(95px + 5px);
  padding-bottom : calc(95px + 5px);
}

.page h1
{
  text-transform : uppercase;
  text-align     : center;
}

.page h2
{
  text-transform : uppercase;
  text-align     : center;
}


.page > header h1
{
  padding     : inherit 15px inherit 15px;
  padding-top : 15px;
  font-size   : 3em;
  line-height : 1.19999;
}

.page > header h2
{
  padding-top    : 10px;
  padding-bottom : 20px;
  font-size      : 2.39999em;
  color          : rgba(0,0,0,0.5);
}

@media screen and (max-width: 1280px)
{
.page
{
  font-size : 0.8rem;
}

}
@media screen and (max-width: 900px)
{
.page
{
  font-size : 0.69999rem;
}

.page .newline-mobile
{
  display : block;
}

}
@media screen and (max-width: 780px)
{
.page
{
  font-size : 0.59999rem;
}

}
.cards
{
  display         : grid;
  justify-content : center;
  grid-column-gap : 20px;
  grid-row-gap    : 20px;
}

.card
{
  display        : flex;
  flex-direction : column;
  align-items    : center;
  width          : 280px;
  padding        : 10px 10px 10px 10px;
  border-color   : #ff6600;
  border-width   : 4px;
  border-style   : solid;
  font-size      : 1.6rem;
}


.card hgroup figure
{
  text-align : center;
}

.card hgroup figure img
{
  width : 70%;
}

.card hgroup h1
{
  line-height : 1.19999em;
  font-weight : bold;
  padding-top : 15px;
}

.card p:first-of-type
{
  padding-top : 15px;
}

.card p
{
  padding-top : 10px;
  text-align  : justify;
  line-height : 1.19999em;
}

@media screen and (max-width: 1280px)
{
.card
{
  font-size : 1.39999rem;
}

}
#sec-target
{
  background-color : #edf2f7;
}

#sec-target .cards
{
  grid-template-columns : auto auto auto auto;
}

@media screen and (max-width: 1280px)
{
#sec-target .cards
{
  grid-template-columns : auto auto;
}

}
@media screen and (max-width: 700px)
{
#sec-target .cards
{
  grid-template-columns : auto;
}

}

#warranty .cards
{
  grid-template-columns : auto auto auto;
}

@media screen and (max-width: 1280px)
{
#warranty .cards
{
  grid-template-columns : auto auto;
}

}
@media screen and (max-width: 700px)
{
#warranty .cards
{
  grid-template-columns : auto;
}

}

#workflow .cards
{
  grid-template-columns : auto auto auto;
}

@media screen and (max-width: 1280px)
{
#workflow .cards
{
  grid-template-columns : auto auto;
}

}
@media screen and (max-width: 700px)
{
#workflow .cards
{
  grid-template-columns : auto;
}

}
#test
{
  display          : flex;
  justify-content  : center;
  align-items      : center;
  background-image : url("../img/callback-background.jpg");
  background-size  : 100% 100%;
}

#test-div
{
  width            : 540px;
  height           : 636px;
  position         : relative;
  font-size        : 2rem;
  background-image : url("../img/smartphone_in_hand_3.png");
  background-size  : 100% 100%;
}

#test-div p
{
  position      : relative;
  left          : 93px;
  top           : 0px;
  margin-top    : 18px;
  margin-left   : 11px;
  margin-right  : 11px;
  margin-bottom : 18px;
  border-radius : 20px 20px 20px 20px;
  height        : 546px;
  width         : 257px;
  padding       : 20px 20px 20px 20px;
}


/* Generated with Clay, http://fvisser.nl/clay */